<template>
  <div>
    <div ref="sheet"></div>
  </div>
</template>

<script>
import abcjs from 'abcjs'

export default {
    name: 'MusicSheet',
    props: [
        'tune'
    ],
    watch: {
        tune (value) {
            this.render(value)
        }
    },
    mounted () {
        this.render(this.tune)
    },
    methods: {
        render (tune) {
            abcjs.renderAbc(
                this.$refs.sheet,
                tune,
                {
                    scale: 2,
                    staffwidth: 150,
                    paddingtop: 0,
                    paddingbottom: 0,
                    paddingright: 0,
                    paddingleft: 0
                }
            )
        }
    }
}
</script>

<style scoped>

</style>
