<template>
  <div class="section">
    <div class="container" style="margin-top: 3rem; margin-bottom: 3rem;">
      <div v-show="!showSettings" class="box" style="width: 500px; margin: auto; text-align: center;">
        <h1 class="title">Pisteet {{score}}</h1>
        <MusicSheet :tune="tune" style="height: 180px;"></MusicSheet>
        <div class="buttons" style="justify-content: center">
          <button class="button is-primary is-large" @click="guess('c')">C</button>
          <button class="button is-primary is-large" v-show="showSharpKeys" @click="guess('cis')">Cis</button>
          <button class="button is-primary is-large" v-show="showFlatKeys" @click="guess('des')">Des</button>
          <button class="button is-primary is-large" @click="guess('d')">D</button>
          <button class="button is-primary is-large" v-show="showSharpKeys" @click="guess('dis')">Dis</button>
          <button class="button is-primary is-large" v-show="showFlatKeys" @click="guess('es')">Es</button>
          <button class="button is-primary is-large" @click="guess('e')">E</button>
          <button class="button is-primary is-large" @click="guess('f')">F</button>
          <button class="button is-primary is-large" v-show="showSharpKeys" @click="guess('fis')">Fis</button>
          <button class="button is-primary is-large" v-show="showFlatKeys" @click="guess('ges')">Ges</button>
          <button class="button is-primary is-large" @click="guess('g')">G</button>
          <button class="button is-primary is-large" v-show="showSharpKeys" @click="guess('gis')">Gis</button>
          <button class="button is-primary is-large" v-show="showFlatKeys" @click="guess('as')">As</button>
          <button class="button is-primary is-large" @click="guess('a')">A</button>
          <button class="button is-primary is-large" v-show="showSharpKeys" @click="guess('ais')">Ais</button>
          <button class="button is-primary is-large" v-show="showFlatKeys" @click="guess('b')">B</button>
          <button class="button is-primary is-large" @click="guess('h')">H</button>
        </div>

        <button class="button is-primary" @click="showSettings = true">Asetukset</button>
      </div>
      <div v-show="showSettings" class="box" style="width: 500px; margin: auto;">
        <h1 class="title">Asetukset</h1>

        <div class="columns">
          <div class="column">
            <h2 class="subtitle">Avaimet</h2>

            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.clefs.treble"> Diskantti</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.clefs.bass"> Basso</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.clefs.bass3"> Baritoni</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.clefs.tenor"> Tenori</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.clefs.alto"> Altto</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.clefs.alto2"> Mezzosopraano</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.clefs.alto1"> Sopraano</label>
              </div>
            </div>
          </div>
          <div class="column">
            <h2 class="subtitle">Sävellajit</h2>

            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.sharps7"> Cis-duuri / ais-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.sharps6"> Fis-duuri / dis-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.sharps5"> H-duuri / gis-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.sharps4"> E-duuri / cis-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.sharps3"> A-duuri / fis-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.sharps2"> D-duuri / h-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.sharps1"> G-duuri / e-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.cMajor"> C-duuri / a-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.flats1"> F-duuri / d-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.flats2"> B-duuri / g-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.flats3"> Es-duuri / c-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.flats4"> As-duuri / f-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.flats5"> Des-duuri / b-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.flats6"> Ges-duuri / es-molli</label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label class="checkbox"><input type="checkbox" v-model="features.keys.flats7"> Ces-duuri / as-molli</label>
              </div>
            </div>
          </div>
        </div>

        <div style="text-align: center">
          <button class="button is-primary is-large" @click="showSettings = false">Pelaa</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MusicSheet from './MusicSheet'

  export default {
    name: 'Quiz',
    components: {
      MusicSheet
    },
    data () {
      return {
        tune: 'X:1\n' +
          'L:1/4\n' +
          'K:C\n' +
          '|]',
        correctAnswer: null,
        score: 0,
        showSettings: true,
        features: {
          clefs: {
            treble: true,
            bass: false,
            bass3: false,
            tenor: false,
            alto: false,
            alto2: false,
            alto1: false
          },
          keys: {
            sharps7: false,
            sharps6: false,
            sharps5: false,
            sharps4: false,
            sharps3: false,
            sharps2: false,
            sharps1: false,
            cMajor: true,
            flats1: false,
            flats2: false,
            flats3: false,
            flats4: false,
            flats5: false,
            flats6: false,
            flats7: false,
          }
        },
        notes: 'C,,, D,,, E,,, F,,, G,,, A,,, B,,, C,, D,, E,, F,, G,, A,, B,, C, D, E, F, G, A, B, C D E F G A B c d e f g a b c\' d\' e\' f\' g\' a\' b\''.split(' '),
        clefRanges: {
          treble: [20, 34],
          bass: [8, 22],
          bass3: [10, 24],
          tenor: [12, 26],
          alto: [14, 28],
          alto2: [16, 30],
          alto1: [18, 32]
        },
        keyNotes: {
          sharps7: 'cis dis eis fis gis ais his'.split(' '),
          sharps6: 'fis gis ais h cis dis eis'.split(' '),
          sharps5: 'h cis dis e fis gis ais'.split(' '),
          sharps4: 'e fis gis a h cis dis'.split(' '),
          sharps3: 'a h cis d e fis gis'.split(' '),
          sharps2: 'd e fis g a h cis'.split(' '),
          sharps1: 'g a h c d e fis'.split(' '),
          cMajor: 'c d e f g a h'.split(' '),
          flats1: 'f g a b c d e'.split(' '),
          flats2: 'b c d es f g a'.split(' '),
          flats3: 'es f g as b c d'.split(' '),
          flats4: 'as b c des es f g'.split(' '),
          flats5: 'des es f ges as b c'.split(' '),
          flats6: 'ges as b ces des es f'.split(' '),
          flats7: 'ces des es fes ges as b'.split(' '),
        }
      }
    },
    computed: {
      showSharpKeys: function(){
        return (
          this.features.keys.sharps7 ||
          this.features.keys.sharps6 ||
          this.features.keys.sharps5 ||
          this.features.keys.sharps4 ||
          this.features.keys.sharps3 ||
          this.features.keys.sharps2 ||
          this.features.keys.sharps1
        );
      },
      showFlatKeys: function(){
        return (
          this.features.keys.flats1 ||
          this.features.keys.flats2 ||
          this.features.keys.flats3 ||
          this.features.keys.flats4 ||
          this.features.keys.flats5 ||
          this.features.keys.flats6 ||
          this.features.keys.flats7
        );
      },
    },
    mounted () {
      this.makeNext()
    },
    methods: {
      guess (answer) {
        if (this.correctAnswer === answer) {
          this.score++
        } else {
          this.score--
        }

        this.makeNext()
      },
      makeNext () {

        const note = this.getNote()

        this.tune = 'X:1\n' +
          'L:1/4\n' +
          'K:' + note.key + ' clef=' + note.clef + '\n' + note.note

        this.correctAnswer = note.name
      },
      getNote () {
        let keys = []
        if (this.features.keys.sharps7) keys.push('C#')
        if (this.features.keys.sharps6) keys.push('F#')
        if (this.features.keys.sharps5) keys.push('B')
        if (this.features.keys.sharps4) keys.push('E')
        if (this.features.keys.sharps3) keys.push('A')
        if (this.features.keys.sharps2) keys.push('D')
        if (this.features.keys.sharps1) keys.push('G')
        if (this.features.keys.cMajor) keys.push('C')
        if (this.features.keys.flats1) keys.push('F')
        if (this.features.keys.flats2) keys.push('Bb')
        if (this.features.keys.flats3) keys.push('Eb')
        if (this.features.keys.flats4) keys.push('Ab')
        if (this.features.keys.flats5) keys.push('Db')
        if (this.features.keys.flats6) keys.push('Gb')
        if (this.features.keys.flats7) keys.push('Cb')

        const key = keys[Math.floor(Math.random() * keys.length)]

        let clefs = []
        if (this.features.clefs.treble) clefs.push('treble')
        if (this.features.clefs.bass) clefs.push('bass')
        if (this.features.clefs.bass3) clefs.push('bass3')
        if (this.features.clefs.tenor) clefs.push('tenor')
        if (this.features.clefs.alto) clefs.push('alto')
        if (this.features.clefs.alto2) clefs.push('alto2')
        if (this.features.clefs.alto1) clefs.push('alto1')

        const clef = clefs[Math.floor(Math.random() * clefs.length)]
        const noteNumber = Math.floor(Math.random() * (this.clefRanges[clef][1] - this.clefRanges[clef][0])) + this.clefRanges[clef][0]
        const note = this.notes[noteNumber]
        const name = 'c d e f g a h'.split(' ')[noteNumber % 7]

        return {
          clef,
          key,
          note,
          name
        }
      }
    }
  }
</script>

<style scoped>

</style>
