@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$family-sans-serif: "Nunito", sans-serif;


@import "~bulma/sass/utilities/initial-variables";
$primary: $blue;

@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/animations";
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/utilities/controls";


@import "~bulma/sass/base/all";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/grid/columns";
