<template>
  <div id="app">
    <Quiz></Quiz>
  </div>
</template>

<script>
import Quiz from './components/Quiz'

export default {
    name: 'app',
    components: {
        Quiz
    }
}
</script>

<style lang="scss">

</style>
